* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

.container1 {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Navigation */
.navbar {
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: #5d57ff;
  font-size: 24px;
  transform: translateY(30px);
}

.navlinks {
  list-style: none;
  display: flex;
  margin-left: 500px;
}

.navlinks li {
  margin-left: 20px;
}

.navlinks a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.button {
  background-color: #5d57ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #4a47d1;
}

/* Content Section */
.content {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.videoc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#bgvideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the whole area */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.incontent {
  position: relative;
  z-index: 2; /* Ensures the text is above the video */
}

.content h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.content .button {
  font-size: 20px;
  padding: 15px 30px;
}

.subtext {
  margin-top: 15px;
  font-size: 14px;
  color: #ddd;
}

/* Main Section */


.slidemain{
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slidecontainer{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.slideicon{
  list-style: none;
  display: flex;
  margin-left: 10px;
}

.iconcontainer{
  margin-right: 120px;
  border: 5px solid white;
  background-color: rgb(245, 244, 244);
}


.iconcontainer:hover{
  scale: 1.1;
}

.slideicon a{
  text-decoration: none;
  color: black;
}

.image{
  transform: translateX(10px);
}

.dropimage{
  margin-top: 20px;
}

.dropim{
  border-radius: 10px;
  height: 600px;
  width: 1350px;
}

.iconcontainer:hover .dropim{
  display: flex;
}

/* .iconcontainer:hover .dropimage{
  display: block;
} */

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footerlogo h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footerlinks a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.footerlinks a:hover {
  text-decoration: underline;
}
